:root {
    --blue: #375E97;
    --red: #FB6542;
    --yellow: #FFBB00;
    --green: #3F681C;
    --cyan: cyan;
}

body {
    background: #375E97;
}

h1 {
    font-size: 4rem;
    color: var(--red);
    font-family: 'Boogaloo', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-bottom: var(--yellow) 2px solid;
}

h3 {
    font-size: 1.65rem;
    color: whitesmoke;
    font-family: 'Goldman', cursive;
}

.score-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    margin-bottom: 200px;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 200px;
    background: var(--yellow);
}

.grid div {
    height: 20px;
    width: 20px;
    background: var(--green);
}

#start-button {
    font-size: 1rem;
    /* height: 30px; */
    /* width: 125px; */
    font-family: 'Goldman', cursive;
}

.tetris-block {
    background: #FB6542;
}

.filled {
    background: cyan;
}

