.grid {
    display: flex;
    flex-wrap: wrap;
    /* margin: 10px auto; */
    background: navy;
    /* background: teal; */
    height: 400px;
    width: 200px;
}

.grid div {
    height: 20px;
    width: 20px;
    background: teal;
    /* background: navy; */
}